@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bannerimg {
  background-image: url("./src/assets/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 

.backimg {
  background-image: url("./src/assets/backimg1.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
} */
